@charset "UTF-8";

body {
    background-image: linear-gradient(80deg, rgb(199, 201, 222),
     rgb(123, 122, 124), rgb(56, 53, 53));
    color: rgb(0, 2, 3);
    font: normal 15pt Arial;
}

h2:hover {
    color: aliceblue;
    transition: 250ms;
}
